@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
// Fonts
$HeadFont: "Fredoka One", cursive;
$BansFont: "Londrina Shadow", cursive;
$SeriousFont: "'Noto Sans JP'", sans-serif;
// Colors
$Red: #FE4A49;
$Blue: #009FB7;
$Yellow: #FED766;
$Grey: #E6E6EA;
$GhostWhite: #F4F4F8;
$Background: #ededed;
