@import "./vars";
h1,
h2,
h3,
h4,
h5,
p,
span,
label {
  font-family: $SeriousFont;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
body > div:first-child {
  width: 100%;
  min-height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
