@import "../../../library/styles/vars";


.IconContainer{
   
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{
        background-color: #eee;
        cursor: pointer;
    }

}
.WithLabel{
    justify-content: flex-start;
    padding-left: 20px;

    width: calc(100% - 20px);

    span{
        font-weight: bold;
        color: #777;
        margin-left: 10px;
    }
}
.NoAnimation{
    color:  white;
    span{
        color:  white;
    }
    &:hover{
        background-color: inherit;
    }
}